@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #323030;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: rgb(50, 48, 48);
}

.hide {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-areas: 
    "title title"
    "progress score";
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  background-color: #5f9ea0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

h1 {
  grid-area: title;
  margin: 0;
  font-size: 3rem;
  color: #fe906e;
  letter-spacing: 0.5rem;
}

.progress {
  grid-area: progress;
}

.current-score {
  grid-area: score;
}

.quiz-main {
  background-color: cadetblue;
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.container {
  display: grid;
  grid-template-rows: 1fr 4em;
  align-self: center;
  height: 100%;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
  background-color: bisque;
  padding: 0.75rem;
  border-radius: 1rem;
  color: rgb(50, 48, 48);
  cursor: pointer;
  text-align: center;
}

label:hover {
  background-color: #fe906e;
}

label:checked {
  background-color: black;
}

label input {
  display: none;
}

span {
  font-size: 1.5rem;
}

button {
  background-color: #fe906e;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem;
  width: 60%;
  justify-self: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #323030;
  cursor: pointer;
}

button:hover {
  background-color: bisque;
}

button:active {
  background-color: darkblue;
  color: bisque;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.answerForm {
  display: grid;
  grid-template-rows: 1fr 4rem;
  margin: 1rem;
  font-size: 1.2rem;
  height: 100%;
  padding: 1rem;
}

.answerOptions {
  display: flex;
  flex-direction: column;
  align-self: center;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.7rem;
}

p {
  font-size: 1.5rem;
}

.correct,
.fail,
.start-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 3rem 1rem;
  background-color: rgba(250, 235, 215, 0.8);
  margin: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: inset;
}

.answerReveal {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 900;
}